/*Archivo con los estilos del sitio de hospedaje*/
/* Estilos para la Barra de Navegacion*/
nav{
    width: 100%;
    position: sticky; 
    top:0px;
    left: 2px;
    z-index:1;
    font-family: monospace;
}

#imginicio{
    display: inline-block;
    width: 80px;
}

#btn-buscar {
    border-radius: 10px;    
}